{% extends "adminhome.html" %}
{% block 1st %} 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> View Details </h1>
        <hr>
        {% for i in data %}
       
        <h2>Music Name:{{i.musicname}}</h2>
        <h3>Artist Name:{{i.artistname}}</h3>
        <h2>Music :{{i.songs}}</h2>
        <h3>Music Director:{{i.musicdirector}}</h3>
        <h3>Muisc Producer:{{i.musicproducer}}</h3>
        <h3>Date{{i.date}}</h3>
        {% endfor %}
    </body>
</html>
{% endblock %}